.lobby {
    position: relative;
    font-size: $text-mobile-normal;
    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    &__label {
        color: cc(branding);
        padding-bottom: 10px;
    }

    &__box {
        margin-bottom: 10px;
        width: 80%;
    }
}